@import 'materialize-css';

.App-header {
	background-color: #000;
	color: white;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
}

.App-header > .card {
	background-color: #000 !important;
	color: white;
  border-radius: 12px;
	align-items: center;
	padding: 10px 0 24px 0;
	border: 1px solid;
	box-shadow: 10px 5px 5px #6d1919;
}

.header {
	background-color: #000;
}

.brand-logo {
	padding: 10px !important;
	background-color: #000;
}

.modal {
	background-color: #000 !important;
	opacity: 0.8;
}

.footer {
  color: white;
	margin-top: 0.5rem;
	padding: 0.5rem;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	text-align: center;
	opacity: 0.7;
}
